<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    <!-- <import resource="applicationContext-db.xml"/> -->
    <context:property-placeholder
            location="classpath*:app.properties,classpath*:dubbo.properties,classpath*:log4j.properties"/>
    <!--<import resource="applicationContext-redis.xml"/>-->
    <import resource="classpath*:app-dubbo.xml"/>
    <!--<import resource="applicationContent-mongodb.xml"/>-->

    <mvc:annotation-driven />
    <context:component-scan base-package="com.ndm.rest"/>
    <!--<context:component-scan base-package="com.mangofactory.swagger.models"/>-->
    <!--<bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig" />-->
    <!--<mvc:resources mapping="/swagger/**" location="/WEB-INF/swagger/" cache-period="31556926"/>-->
    <mvc:default-servlet-handler />
    <!--<bean class="cn.cosfun.config.SwaggerConfig"/>-->
    <!--<bean class="cn.cosfun.config.QiNiuConfig"/>-->

</beans>